
/* UTILS */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.debug{
  background-color: rgba(165, 42, 42, 0.391);
  border: 1px solid black;
}

.d-flex{
  display: flex;
  align-items: center;
  justify-content: center;
}

/* GENERAL */

main{
  height: 100vh;
  background-image: linear-gradient(to left,
  rgb(210, 210, 169),rgb(205, 85, 105),rgb(76, 76, 187)
  );

  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.container{
  height: 700px;
  width: 70%;
  padding: 15px;
  min-width: 950px;
  max-width: 1800px;
  border-radius: 20px;
  flex-direction: column;
  color: white;
  background-color: rgb(86, 86, 130);
  box-shadow: 10px 10px 20px rgb(48, 22, 72);
}

.error-box{
  padding: 20px;
  border-radius: 15px;
  color: white;
  text-align: center;
  background-color: rgba(137, 43, 226, 0.281);
}

.error-box img{
  max-width: 250px;
}

.col-container{
  margin-top: 10px;
  height: 80%;
  width: 100%;
}

.col-container .col{
  height: 100%;
  background-color: rgb(235, 231, 231);
  border-radius: 15px;
}

/* COL LEFT */

.col.left{
  width: 40%;
  margin: 10px;
  text-align: center;
  padding: 20px 0;
  overflow-y: auto;
}

.col.left h3{
  margin-top: 10px;
  padding-bottom: 20px;
  color: rgb(63, 58, 58);
  border-bottom: 1px solid rgb(165, 155, 155);
}

.col.right{
  width: 70%;
  padding: 20px 10px;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.col-container .col.left .row{
  width: 100%;
  padding: 20px;
  color: rgb(63, 58, 58);
  border-bottom: 1px solid rgb(165, 155, 155);
}

.col.left .row:hover{
  background-color: rgb(181, 188, 194);
}

.loading-box{
  padding: 25px;
}

/* COL RIGHT */

.col.right .team-member{
  width: 60%;
  border-radius: 20px;
  flex-direction: column;
  background-color: rgba(165, 42, 42, 0.505);
}

.col.right .team-member img{
  width: 200px;
  margin-bottom: 50px;
}

.col.right .team-member h3{
  margin: 15px;
}

h3.allert{
  color: rgb(86, 40, 129);
}

/* team list */

.team-list{
  /* height: 100%; */
  overflow-y: auto;
  margin-left: 20px;
}

.team-list .box{
  width: 100px;
  height: 100px;
  margin-bottom: 3px;
  border-radius: 10px;
  background-color: rgb(156, 125, 197);
}

.team-list .box img{
  width: 100%;
  transition: all 0.5s;
}

.team-list .box img:hover{
  transform: scale(1.1, 1.1);
  opacity: .9;
}
